main {
  flex: 1;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
}

hr {
  height: 1em;
  display: inline-block;
}

.sidebar {
  padding: 1rem 0;
  display: none;
  z-index: 10000;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
}
.sidebar li,
.sidebar a {
  width: 100%;
}

.align-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNav {
  padding: clamp(10px, 2vw, 20px);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  width: clamp(20vw, 45vw, 45vw);
  justify-content: center;
}

.mainCardH2 {
  display: flex;
}

.homepageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCardParent {
  width: stretch;
  margin-top: clamp(-20rem, -2rem, -30px);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.buttonCardParent {
  display: inline-flex;
  margin-top: 10em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.buttonCard {
  flex-direction: row;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

  width: fit-content;

  padding-top: clamp(5px, 2vw, 7px);
  padding-bottom: clamp(5px, 2vw, 7px);
  padding-left: clamp(20px, 2vw, 20px);
  padding-right: clamp(20px, 2vw, 20px);
  align-self: center;

  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
}

.learnMoreButton {
  background-color: var(--turquoise);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2rem 0 2px 0;
  display: flex;
}

.learnMoreButton:hover {
  background-color: var(--turquoise);
  opacity: 0.8;
}

.h2Card {
  display: flex;
  flex-direction: row;
}

.whiteCardParent {
  position: absolute;
  bottom: 0;
  left: 0;
}

.whiteCard {
  background-color: white;
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: 0;

  padding: 1rem;
  height: 60vh;
  min-width: 100vw;

  overflow-y: scroll;
}

.searchArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 1rem;
  width: auto;
}

input {
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  width: clamp(200px, 50%, 300px);
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

select {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--turquoise);
  color: white;
  width: clamp(200px, 50%, 300px);
}
select:nth-last-child(1) {
  margin-right: 1em;
}

.scholarsBoxParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scholarsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-radius: 25px;
  margin: 1rem;

  width: auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.card {
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  padding: 1rem;
}

.scholarshipsCardParent,
.upcomingCardParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-left: 50vw;
  width: 100vw;
}

.scholarshipsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--glass);
  border-radius: 25px;
  padding: 2rem;
  margin: 1rem;

  width: auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.scholarshipsCard > h1 {
  font-size: clamp(3rem, 5vw, 10rem);
  margin: 1rem;
}

.upcomingCard {
  background-color: var(--glass);
  border-radius: 25px;
  padding: 2rem;
  margin: 1rem;

  width: auto;
  text-align: center;
}
.upcomingCard > h1 {
  font-size: clamp(2rem, 4vw, 7rem);
  margin: 1rem;
  text-wrap: nowrap;
}
.upcomingCard > p {
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  margin: 1rem;
  text-wrap: nowrap;
}

.pinnedUpcomingTabParent {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 35%;
  left: 0;

  width: 100vw;
}
.pinnedUpcomingTab {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  background-color: var(--textColour);

  border-radius: 25px 25px 0 0;
  padding: 1rem;
  gap: 1rem;

  width: 100%;
  height: 20vh;

  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-align: start;
  scroll-snap-type: proximity;
}

.pinnedCard {
  background-color: var(--turquoise);

  border-radius: 25px;
  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.5;

  width: auto;
  height: max-content;

  & > sub {
    font-size: 1rem;
  }
  & > h3 {
    text-wrap: nowrap;
  }
}

/* IMAGES */
.calendarParent {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;

  position: absolute;
  bottom: 0;
  left: 0;
}
.calendar {
  position: relative;
  margin: 0;
}

.logo {
  width: 25%;
  height: auto;
  z-index: 999;
  cursor: pointer;
}

.fa-bars {
  display: none;
  top: 0;
  right: 0;
  margin: 10px;
  position: absolute;
  z-index: 10000
}